In [1]:
import pandas as pd
import numpy as np
from scipy import stats 
import matplotlib.pyplot as plt 
import re


# Loading the data from the excel sheet

xls = pd.ExcelFile('CWQT_Master_DataSheet.xlsx')
df = pd.read_excel(xls, 'Data')

In [2]:
# Only taking the data for hudson river, Pier 66
# hudsonDf = df.loc[df["Site"] == "Hudson River, Pier 66"]

In [3]:
# Dropping the notes column
# hudsonDf = hudsonDf.drop(["Notes"], axis=1)

In [4]:
# hudsonDf hudsonDf[["Day of Collection Precipitation (Thursday)"]].replace("Trace", 0)

# replacing all the trace with value of 0 
# replacedTraceDF = hudsonDf.replace("Trace", 0)

In [5]:
# printing the info of the data 
# replacedTraceDF.info()

In [6]:


# replacedTraceDF["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"]

In [7]:
# replacedTraceDF

# (df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] == "<10").value_counts()

In [8]:
# (df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] == ">24196").value_counts()

In [9]:
# replacedTraceDF

In [10]:
# replacedTraceDF['Year'].value_counts()

In [11]:
df["Year"].value_counts()

2021    1327
2019    1283
2018    1194
2017    1116
2016     903
2015     880
2014     674
2013     580
2020     568
2012     377
2011      50
Name: Year, dtype: int64

In [12]:
# df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] = df[["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"]].replace("<10", 10)
# df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] = df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"].replace(">24196", 24196)
# df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] = df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"].replace(">6000", 6000)

df = df.drop(df[(df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] == "<10") \
                | (df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] == ">24196") \
                | (df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] == ">6000")].index)




df  = df.replace("Trace", 0)
df = df.drop(["Notes"], axis=1)


hudsonDf = df.loc[df["Site"] == "Hudson River, Pier 66"]



hudsonDf

,Site,Full Date,Year,Month,Battery High Tide,Sample Time,Most Probable Number (MPN) of Enterococcus colonies per 100 ml,Day of Collection Precipitation (Thursday),Previous Day Precipitation (Wednesday),Previous Tuesday Precipitation,Previous Monday Precipitation,Previous Sunday Precipitation,Previous Saturday Precipitation,Previous Friday Precipitation
0,"Hudson River, Pier 66",2011-10-20,2011,10,02:33:00,14:43:00,31,0.01,1.12,0.01,0,0,0.00,0
8,"Hudson River, Pier 66",2011-10-27,2011,10,08:51:00,11:17:00,31,0.63,0,0,0,0,0.00,0
21,"Hudson River, Pier 66",2011-11-09,2011,11,06:57:00,13:40:00,979,0,0,0,0,0,0.00,0
27,"Hudson River, Pier 66",2011-11-17,2011,11,00:15:00,10:14:00,446,0.07,0.73,0,0,0,0.00,0
31,"Hudson River, Pier 66",2011-11-21,2011,11,04:01:00,10:47:00,10,0.12,0,0,0,0.07,0.73,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8663,"Hudson River, Pier 66",2021-09-02,2021,9,05:35:00,10:28:00,1439,0.1,7.13,0,0,0,0.00,0.67
8717,"Hudson River, Pier 66",2021-09-09,2021,9,10:29:00,10:10:00,31,0.26,0,0,0,0.02,0.00,0
8783,"Hudson River, Pier 66",2021-09-16,2021,9,05:02:00,09:53:00,51,0,0,0,0.12,0,0.00,0
8843,"Hudson River, Pier 66",2021-09-23,2021,9,10:34:00,09:56:00,73,1.37,0.02,0.09,0,0,0.00,0
8905,"Hudson River, Pier 66",2021-09-30,2021,9,03:59:00,09:58:00,10,0,0,0.27,0,0,0.00,0.66

In [13]:
# (df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] > 30).value_counts()

- df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] = df[["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"]].replace("<10", 10)

- df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] = df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"].replace(">24196", 24196)

- df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] = df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"].replace(">6000", 6000)

In [14]:
df = df.replace("Trace", 0)

In [15]:
df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"].astype(int)

0        31
1       624
2       826
3       826
4       876
       ...
8946     41
8947     20
8949     10
8950     20
8951     10
Name: Most Probable Number (MPN) of Enterococcus colonies per 100 ml, Length: 7382, dtype: int64

In [16]:
# df.loc[df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] > 104][["Day of Collection Precipitation (Thursday)"]] 

# df.loc[df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] > 104][["Day of Collection Precipitation (Thursday)"]] 

# df["High"] =  df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] > 104
# df["Low"] =  df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] < 35
# df["High"] =  df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] > 104

In [17]:
df
# df  = df.replace("Trace", 0)
df.groupby(["Year"]).mean()

,Month,Most Probable Number (MPN) of Enterococcus colonies per 100 ml,Previous Saturday Precipitation
Year,,,
2011,10.883721,678.000000,0.118837
2012,7.351916,425.944251,0.092265
2013,7.350943,506.807547,0.071415
2014,7.299658,417.950342,0.061695
2015,7.313390,559.763533,0.136610
2016,7.345697,438.869436,0.115593
2017,7.198614,423.627021,0.310231
2018,7.475504,1040.183477,0.131796
2019,7.400000,1284.910092,0.012716
2020,8.042129,1024.263858,0.036763
2021,7.172352,840.068223,0.334740

In [18]:
xls = pd.ExcelFile('CWQT_Master_DataSheet.xlsx')
df = pd.read_excel(xls, 'Data')

df = df.replace("Trace", 0)
df = df.drop(["Notes"], axis=1)


hudsonDf = df.loc[df["Site"] == "Hudson River, Pier 66"]



hudsonDf

,Site,Full Date,Year,Month,Battery High Tide,Sample Time,Most Probable Number (MPN) of Enterococcus colonies per 100 ml,Day of Collection Precipitation (Thursday),Previous Day Precipitation (Wednesday),Previous Tuesday Precipitation,Previous Monday Precipitation,Previous Sunday Precipitation,Previous Saturday Precipitation,Previous Friday Precipitation
0,"Hudson River, Pier 66",2011-10-20,2011,10,02:33:00,14:43:00,31,0.01,1.12,0.01,0,0,0.00,0
8,"Hudson River, Pier 66",2011-10-27,2011,10,08:51:00,11:17:00,31,0.63,0,0,0,0,0.00,0
21,"Hudson River, Pier 66",2011-11-09,2011,11,06:57:00,13:40:00,979,0,0,0,0,0,0.00,0
27,"Hudson River, Pier 66",2011-11-17,2011,11,00:15:00,10:14:00,446,0.07,0.73,0,0,0,0.00,0
31,"Hudson River, Pier 66",2011-11-21,2011,11,04:01:00,10:47:00,10,0.12,0,0,0,0.07,0.73,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8663,"Hudson River, Pier 66",2021-09-02,2021,9,05:35:00,10:28:00,1439,0.1,7.13,0,0,0,0.00,0.67
8717,"Hudson River, Pier 66",2021-09-09,2021,9,10:29:00,10:10:00,31,0.26,0,0,0,0.02,0.00,0
8783,"Hudson River, Pier 66",2021-09-16,2021,9,05:02:00,09:53:00,51,0,0,0,0.12,0,0.00,0
8843,"Hudson River, Pier 66",2021-09-23,2021,9,10:34:00,09:56:00,73,1.37,0.02,0.09,0,0,0.00,0
8905,"Hudson River, Pier 66",2021-09-30,2021,9,03:59:00,09:58:00,10,0,0,0.27,0,0,0.00,0.66