### Data Cleaning

In [1]:
import pandas as pd
import numpy as np
from scipy import stats 
import matplotlib.pyplot as plt 
import re

In [2]:
# Loading the data from the excel sheet

xls = pd.ExcelFile('CWQT_Master_DataSheet.xlsx')
df = pd.read_excel(xls, 'Data')

In [3]:
df.head(5)

,Site,Full Date,Year,Month,Battery High Tide,Sample Time,Most Probable Number (MPN) of Enterococcus colonies per 100 ml,Day of Collection Precipitation (Thursday),Previous Day Precipitation (Wednesday),Previous Tuesday Precipitation,Previous Monday Precipitation,Previous Sunday Precipitation,Previous Saturday Precipitation,Previous Friday Precipitation,Notes
0,"Bronx Kill, east end",2014-05-29,2014,5,09:32:00,09:52:00,20,0,0,Trace,0,0,0.4,0.91,NaN
1,"Bronx Kill, east end",2014-06-05,2014,6,01:59:00,08:30:00,1396,0.87,0,0.12,0,0,0.05,Trace,NaN
2,"Bronx Kill, east end",2014-06-12,2014,6,08:05:00,08:36:00,275,0.07,0.02,0,1.6,0,0,0,NaN
3,"Bronx Kill, east end",2014-06-19,2014,6,01:56:00,08:24:00,132,0.15,0,0,0,0,0,1.28,NaN
4,"Bronx Kill, east end",2014-06-27,2014,6,08:27:00,08:15:00,15531,0.07,0.08,0,0,0,0,0,NaN

In [4]:
# Only taking the data for hudson river, Pier 66
hudsonDf = df.loc[df["Site"] == "Hudson River, Pier 66"]

In [5]:
# Dropping the notes column
hudsonDf = hudsonDf.drop(["Notes"], axis=1)
hudsonDf

,Site,Full Date,Year,Month,Battery High Tide,Sample Time,Most Probable Number (MPN) of Enterococcus colonies per 100 ml,Day of Collection Precipitation (Thursday),Previous Day Precipitation (Wednesday),Previous Tuesday Precipitation,Previous Monday Precipitation,Previous Sunday Precipitation,Previous Saturday Precipitation,Previous Friday Precipitation
5747,"Hudson River, Pier 66",2011-10-20,2011,10,02:33:00,14:43:00,31,0.01,1.12,0.01,Trace,0,0,0
5748,"Hudson River, Pier 66",2011-10-27,2011,10,08:51:00,11:17:00,31,0.63,0,0,0,0,0,0
5749,"Hudson River, Pier 66",2011-11-09,2011,11,06:57:00,13:40:00,979,0,0,0,0,0,0,0
5750,"Hudson River, Pier 66",2011-11-17,2011,11,00:15:00,10:14:00,446,0.07,0.73,Trace,0,0,0,0
5751,"Hudson River, Pier 66",2011-11-21,2011,11,04:01:00,10:47:00,10,0.12,0,0,0,0.07,0.73,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5917,"Hudson River, Pier 66",2021-09-02,2021,9,05:35:00,10:28:00,1439,0.1,7.13,0,Trace,0,Trace,0.67
5918,"Hudson River, Pier 66",2021-09-09,2021,9,10:29:00,10:10:00,31,0.26,0,0,Trace,0.02,0,0
5919,"Hudson River, Pier 66",2021-09-16,2021,9,05:02:00,09:53:00,51,Trace,Trace,0,0.12,0,0,0
5920,"Hudson River, Pier 66",2021-09-23,2021,9,10:34:00,09:56:00,73,1.37,0.02,0.09,0,0,0,Trace
5921,"Hudson River, Pier 66",2021-09-30,2021,9,03:59:00,09:58:00,10,0,Trace,0.27,0,0,0,0.66

In [6]:
# hudsonDf = hudsonDf[["Day of Collection Precipitation (Thursday)"]].replace("Trace", 0)

# replacing all the trace with value of 0 
replacedTraceDF = hudsonDf.replace("Trace", 0)

In [7]:
# printing the info of the data 
replacedTraceDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 5747 to 5921
Data columns (total 14 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Site                                                            175 non-null    object
 1   Full Date                                                       175 non-null    datetime64[ns]
 2   Year                                                            175 non-null    int64
 3   Month                                                           175 non-null    int64
 4   Battery High Tide                                               175 non-null    object
 5   Sample Time                                                     175 non-null    object
 6   Most Probable Number (MPN) of Enterococcus colonies per 100 ml  175 non-null    object
 7   Day of Collection Precipitation (Thursday)                      173 non-null    float64
 8   Previous Day Precipitation (Wednesday)                          174 non-null    float64
 9   Previous Tuesday Precipitation                                  175 non-null    float64
 10  Previous Monday Precipitation                                   175 non-null    float64
 11  Previous Sunday Precipitation                                   175 non-null    float64
 12  Previous Saturday Precipitation                                 175 non-null    float64
 13  Previous Friday Precipitation                                   175 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(4)
memory usage: 20.5+ KB

In [8]:
replacedTraceDF.describe()

,Year,Month,Day of Collection Precipitation (Thursday),Previous Day Precipitation (Wednesday),Previous Tuesday Precipitation,Previous Monday Precipitation,Previous Sunday Precipitation,Previous Saturday Precipitation,Previous Friday Precipitation
count,175.000000,175.000000,173.000000,174.000000,175.000000,175.000000,175.000000,175.000000,175.000000
mean,2016.062857,7.468571,0.202081,0.167816,0.149257,0.135086,0.122857,0.120743,0.134857
std,3.047807,1.519182,0.408598,0.620441,0.335254,0.336822,0.373130,0.398623,0.424246
min,2011.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2013.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2016.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2019.000000,9.000000,0.240000,0.060000,0.135000,0.040000,0.020000,0.040000,0.030000
max,2021.000000,12.000000,2.270000,7.130000,2.240000,1.660000,2.900000,4.450000,4.160000

In [9]:
replacedTraceDF.head()

,Site,Full Date,Year,Month,Battery High Tide,Sample Time,Most Probable Number (MPN) of Enterococcus colonies per 100 ml,Day of Collection Precipitation (Thursday),Previous Day Precipitation (Wednesday),Previous Tuesday Precipitation,Previous Monday Precipitation,Previous Sunday Precipitation,Previous Saturday Precipitation,Previous Friday Precipitation
5747,"Hudson River, Pier 66",2011-10-20,2011,10,02:33:00,14:43:00,31,0.01,1.12,0.01,0.0,0.00,0.00,0.0
5748,"Hudson River, Pier 66",2011-10-27,2011,10,08:51:00,11:17:00,31,0.63,0.00,0.00,0.0,0.00,0.00,0.0
5749,"Hudson River, Pier 66",2011-11-09,2011,11,06:57:00,13:40:00,979,0.00,0.00,0.00,0.0,0.00,0.00,0.0
5750,"Hudson River, Pier 66",2011-11-17,2011,11,00:15:00,10:14:00,446,0.07,0.73,0.00,0.0,0.00,0.00,0.0
5751,"Hudson River, Pier 66",2011-11-21,2011,11,04:01:00,10:47:00,10,0.12,0.00,0.00,0.0,0.07,0.73,0.0

In [10]:
# replacedTraceDF

(df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] == "<10").value_counts()

False    7587
True     1365
Name: Most Probable Number (MPN) of Enterococcus colonies per 100 ml, dtype: int64

In [11]:
(df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] == ">24196").value_counts()

False    8752
True      200
Name: Most Probable Number (MPN) of Enterococcus colonies per 100 ml, dtype: int64

In [12]:
hudsonDf.head()

,Site,Full Date,Year,Month,Battery High Tide,Sample Time,Most Probable Number (MPN) of Enterococcus colonies per 100 ml,Day of Collection Precipitation (Thursday),Previous Day Precipitation (Wednesday),Previous Tuesday Precipitation,Previous Monday Precipitation,Previous Sunday Precipitation,Previous Saturday Precipitation,Previous Friday Precipitation
5747,"Hudson River, Pier 66",2011-10-20,2011,10,02:33:00,14:43:00,31,0.01,1.12,0.01,Trace,0,0,0
5748,"Hudson River, Pier 66",2011-10-27,2011,10,08:51:00,11:17:00,31,0.63,0,0,0,0,0,0
5749,"Hudson River, Pier 66",2011-11-09,2011,11,06:57:00,13:40:00,979,0,0,0,0,0,0,0
5750,"Hudson River, Pier 66",2011-11-17,2011,11,00:15:00,10:14:00,446,0.07,0.73,Trace,0,0,0,0
5751,"Hudson River, Pier 66",2011-11-21,2011,11,04:01:00,10:47:00,10,0.12,0,0,0,0.07,0.73,0

In [13]:
df["Year"].value_counts()

2021    1327
2019    1283
2018    1194
2017    1116
2016     903
2015     880
2014     674
2013     580
2020     568
2012     377
2011      50
Name: Year, dtype: int64

In [14]:
# df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] = df[["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"]].replace("<10", 10)
# df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] = df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"].replace(">24196", 24196)
# df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] = df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"].replace(">6000", 6000)

df = df.drop(df[(df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] == "<10") \
                | (df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] == ">24196") \
                | (df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] == ">6000")].index)




df  = df.replace("Trace", 0)
df = df.drop(["Notes"], axis=1)


hudsonDf = df.loc[df["Site"] == "Hudson River, Pier 66"]



hudsonDf.head()

,Site,Full Date,Year,Month,Battery High Tide,Sample Time,Most Probable Number (MPN) of Enterococcus colonies per 100 ml,Day of Collection Precipitation (Thursday),Previous Day Precipitation (Wednesday),Previous Tuesday Precipitation,Previous Monday Precipitation,Previous Sunday Precipitation,Previous Saturday Precipitation,Previous Friday Precipitation
5747,"Hudson River, Pier 66",2011-10-20,2011,10,02:33:00,14:43:00,31,0.01,1.12,0.01,0,0,0.00,0
5748,"Hudson River, Pier 66",2011-10-27,2011,10,08:51:00,11:17:00,31,0.63,0,0,0,0,0.00,0
5749,"Hudson River, Pier 66",2011-11-09,2011,11,06:57:00,13:40:00,979,0,0,0,0,0,0.00,0
5750,"Hudson River, Pier 66",2011-11-17,2011,11,00:15:00,10:14:00,446,0.07,0.73,0,0,0,0.00,0
5751,"Hudson River, Pier 66",2011-11-21,2011,11,04:01:00,10:47:00,10,0.12,0,0,0,0.07,0.73,0

- df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] = df[["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"]].replace("<10", 10)

- df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] = df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"].replace(">24196", 24196)

- df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] = df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"].replace(">6000", 6000)

In [15]:
df = df.replace("Trace", 0)

In [16]:
df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"].astype(int)

0          20
1        1396
2         275
3         132
4       15531
        ...
8947      113
8948    15531
8949      292
8950     1211
8951      691
Name: Most Probable Number (MPN) of Enterococcus colonies per 100 ml, Length: 7382, dtype: int64

In [17]:
# df.loc[df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] > 104][["Day of Collection Precipitation (Thursday)"]] 

# df.loc[df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] > 104][["Day of Collection Precipitation (Thursday)"]] 

# df["High"] =  df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] > 104
# df["Low"] =  df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] < 35
# df["High"] =  df["Most Probable Number (MPN) of Enterococcus colonies per 100 ml"] > 104

In [18]:
df
# df  = df.replace("Trace", 0)
df.groupby(["Year"]).mean()

,Month,Most Probable Number (MPN) of Enterococcus colonies per 100 ml,Previous Saturday Precipitation
Year,,,
2011,10.883721,678.000000,0.118837
2012,7.351916,425.944251,0.092265
2013,7.350943,506.807547,0.071415
2014,7.299658,417.950342,0.061695
2015,7.313390,559.763533,0.136610
2016,7.345697,438.869436,0.115593
2017,7.198614,423.627021,0.310231
2018,7.475504,1040.183477,0.131796
2019,7.400000,1284.910092,0.012716
2020,8.042129,1024.263858,0.036763
2021,7.172352,840.068223,0.334740

In [19]:
xls = pd.ExcelFile('CWQT_Master_DataSheet.xlsx')
df = pd.read_excel(xls, 'Data')

df = df.replace("Trace", 0)
df = df.drop(["Notes"], axis=1)


hudsonDf = df.loc[df["Site"] == "Hudson River, Pier 66"]



hudsonDf

,Site,Full Date,Year,Month,Battery High Tide,Sample Time,Most Probable Number (MPN) of Enterococcus colonies per 100 ml,Day of Collection Precipitation (Thursday),Previous Day Precipitation (Wednesday),Previous Tuesday Precipitation,Previous Monday Precipitation,Previous Sunday Precipitation,Previous Saturday Precipitation,Previous Friday Precipitation
5747,"Hudson River, Pier 66",2011-10-20,2011,10,02:33:00,14:43:00,31,0.01,1.12,0.01,0,0,0.00,0
5748,"Hudson River, Pier 66",2011-10-27,2011,10,08:51:00,11:17:00,31,0.63,0,0,0,0,0.00,0
5749,"Hudson River, Pier 66",2011-11-09,2011,11,06:57:00,13:40:00,979,0,0,0,0,0,0.00,0
5750,"Hudson River, Pier 66",2011-11-17,2011,11,00:15:00,10:14:00,446,0.07,0.73,0,0,0,0.00,0
5751,"Hudson River, Pier 66",2011-11-21,2011,11,04:01:00,10:47:00,10,0.12,0,0,0,0.07,0.73,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5917,"Hudson River, Pier 66",2021-09-02,2021,9,05:35:00,10:28:00,1439,0.1,7.13,0,0,0,0.00,0.67
5918,"Hudson River, Pier 66",2021-09-09,2021,9,10:29:00,10:10:00,31,0.26,0,0,0,0.02,0.00,0
5919,"Hudson River, Pier 66",2021-09-16,2021,9,05:02:00,09:53:00,51,0,0,0,0.12,0,0.00,0
5920,"Hudson River, Pier 66",2021-09-23,2021,9,10:34:00,09:56:00,73,1.37,0.02,0.09,0,0,0.00,0
5921,"Hudson River, Pier 66",2021-09-30,2021,9,03:59:00,09:58:00,10,0,0,0.27,0,0,0.00,0.66

In [21]:
hudsonDf.to_csv("hudson_data.csv")